[Unit]
Description=Dump1090 Helper Service
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/mkdir /var/run/dump1090
ExecStart=/bin/chown www-data /var/run/dump1090
Restart=on-abort


[Install]
WantedBy=multi-user.target
